body {
    background-color: black !important;
    overflow-x: hidden;
}
.header-content {
    position: relative;
    height: 2788px;
    width: 100%;
}
.header-content::before {
    content: "";
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.8) 100%), 
    url('img/netflix-header.jpeg');
    background-position: 50% 73.5%;
    background-size: 125%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}
#logo {
    position: absolute;
    margin-top: 10px;
    left: 20px;
    z-index: 2;
}
#netflix-logo {
    height: 195px;
    width: auto;
    margin-left: 650px;
    margin-top: 67px;
}
.dropdown {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}
.dropdown button {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: left;
    border-radius: 21px;
    padding: 10px 88px;
    margin-left: 4450px;
    margin-top: 100px;
    background: transparent;
}
.dropdown button:hover {
    border: 1px solid white !important;
    background-color: transparent !important;
}
.dropdown img{
    width: 90px;
    margin-top: -17px;
    margin-right: -26px;
}
.dropdown-item{
    width: 500px !important; 
    height: 100px;
    color: black !important;
    font-size: 70px;
    border: 1px solid black !important;
    border-right: none !important;
    border-left: none !important;
    text-align: center !important;
    background-color: white !important;
}
.dropdown-item:hover{
    background-color: lightskyblue !important;
}
.dropdown-menu{
    --bs-dropdown-padding-x: none !important;
    --bs-dropdown-divider-margin-y: 0px !important;
}
#lang{
    margin-left: -31px;
    margin-right: 23px;
    width: 75px;
    height: auto;
}
.sign-in-button{
    height: 100px;
    margin-top: -93px;
}
.sign-in-button button{
    position: absolute;
    list-style-type: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    border: 1px solid rgb(229, 9, 20);
    background-color: rgb(229, 9, 20);
    border-radius: 24px;
    padding: 20px 60px;
    margin-left: 5040px;
    margin-top: -4px;
    cursor: pointer !important;
}
.sign-in-button button:hover{
    border: 1px solid rgba(153, 22, 29);
    background-color: rgba(153, 22, 29);
}
.email-validation{
    color: white;
    font-family: "Roboto", sans-serif;
    margin-top: 895px;
    text-align: center;
}
.capt-text1{
    font-family: "Roboto", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 197px;
    letter-spacing: 3px;
}
.capt-text2{
    font-size: 100px;
    font-weight: 480;
    margin-top: 65px;
}
.capt-text3{
    font-size: 86px;
    margin-top: 100px;
    font-weight: 400;
    letter-spacing: -1px;
}
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 70px;
}
.styled-input {
    width: 1473px;
    padding: 60px;
    margin-right: 890px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 68px;
    outline: none;
}
.styled-input::placeholder {
    color: #ccc;
}
.styled-input:focus {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.7);
}
.get-started-button button{
    position: absolute;
    color: white;
    font: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 95px;
    background-color: rgb(229, 9, 20);
    border: 0 solid rgb(229, 9, 20);
    border-radius: 20px;
    padding: 59px 150px;
    cursor: pointer !important;
    margin-top: -242px;
    margin-left: 318px;
}
.get-started-button button:hover{
    background-color: rgba(153, 22, 29);
}
.right-angle{
    color: white;
    font-size: 88px;
}
.netflix-demo-tv{
    display: grid;
    grid-template-columns: auto auto;
    border: 40px solid rgba(88, 88, 88, 0.381);
    border-right: none;
    border-left: none;
    color: white;
}
.title1{
    margin-top: 770px;
    margin-left: 730px;
    line-height: 1.5;
}
.tv img{
    position: relative;
    margin-top: 243px;
    margin-bottom: 250px;
    height: auto;
    width: 2288px;
    z-index: 1;
}
.video video{
    position: absolute;
    left: 3702px;
    top: 117%;
    width: 1663px;
    max-width: 100%;
    height: auto;
    z-index: -1;
}
.show-demo{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    border: 40px solid rgba(88, 88, 88, 0.381);
    border-right: none;
    border-left: none;
    border-top: none;
    color: white;
    justify-content: center;
}
.stranger-things-on-screen{
    height: 1720px;
    width: 2311px;
    margin-top: 260px;
    margin-bottom: 360px;
}
.strt-caption{
    margin-top: 710px;
    line-height: 1.2;
}
.watch-stranger-things{
    position: absolute;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    border: 2px solid grey;
    background-color: black;
    border-radius: 40px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.649);
    padding: 110px 200px;
    top: 223.5%;
    margin-left: 500px;
}
#strt-img{
    height: 330px;
    width: 300px;
    margin-left: -155px;
    margin-top: -76px;
    margin-bottom: -76px;
}
#strt-title{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-left: 60px;
}
#strt-dnld{
    color: #0071eb;
    font-size: 65px;
    font-weight: 400;
}
.strt-gif{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    margin-right: -170px;
}
#gif-adjust{
    height: auto;
    width: 200px;
    margin-left: 164px;
    margin-top: 70px;
}
.stream-anywhere{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 300px;
    border: 40px solid rgba(88, 88, 88, 0.381);
    border-right: none;
    border-left: none;
    border-top: none;
    color: white;
}
.stream-caption{
    margin-top: 710px;
}
.stream-image img{
    position: relative;
    margin-top: 243px;
    margin-bottom: 250px;
    height: auto;
    width: 2288px;
    z-index: 1;
}
.stream-video video{
    position: absolute;
    top: 270%;
    left:58%;
    width: 1400px;
    max-width: 200%;
    object-fit: 200%;
    object-position: center;
    height: auto;
    z-index: -1;
}
.kids-profile{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 300px;
    border: 45px solid rgba(88, 88, 88, 0.381);
    border-right: none;
    border-left: none;
    border-top: none;
    color: white;
}
.kids-profile-picture img{
    position: relative;
    margin-top: 243px;
    margin-bottom: 250px;
    height: auto;
    width: 2288px;
}
.kids-profile-caption{
    margin-top: 710px;
}
.faq{
    color: white;
    margin-top: 200px;
    text-align: center;
    line-height: 2.1;
    letter-spacing: 2;
}
.accordion{
    --bs-accordion-bg: transparent !important;
    --bs-accordion-border-color: transparent !important;
}
.accordion-item{
    justify-content: center !important;
    margin-left: 700px !important;
}
.accordion-button {
    height: 353px !important;
    width: 4680px !important;
    color: white !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 100px !important;
    font-weight: 400 !important;
    text-align: left !important;
    background-color: rgb(41, 41, 41) !important;
    margin-bottom: 20px;
}
.accordion-button:hover{
    background-color: rgb(57, 57, 57) !important;
}
.plus{
    position: absolute;
    font-size: 140px;
}
.plus1{
    margin-left: 3698px;
}
.plus2{
    margin-left: 3158px;
}
.plus3{
    margin-left: 3535px;
}
.plus4{
    margin-left: 3635px;
}
.plus5{
    margin-left: 3148px;
}
.plus6{
    margin-left: 3358px;
}
.netflix{
    font-size: 97px;
    margin-left: 76px !important;
    margin-top: 40px !important;
}
.accordion-body{
    text-align: left !important;
    background-color: rgb(41, 41, 41) !important;
    color: white !important;
    width: 4680px !important;
}
.body-text{
    margin-left: 30px;
    font-size: 90px;
    font-weight: 400;
    margin-top: 60px;
}
.sign-in-repeat{
    color: white;
    text-align: center;
}
.repeated-caption{
    font-size: 86px;
    margin-top: 100px;
    font-weight: 350;
    letter-spacing: -1px;
}
.get-started-repeat button{
    position: absolute;
    color: white;
    font: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 95px;
    background-color: rgb(229, 9, 20);
    border: 0 solid rgb(229, 9, 20);
    border-radius: 20px;
    padding: 49px 150px;
    cursor: pointer !important;
    margin-top: -252px;
    margin-left: 352px;
    margin-bottom: 1000px;
}
.get-started-repeat button:hover{
    background-color: rgba(153, 22, 29);
}
.repeated-border{
    border: 45px solid rgba(88, 88, 88, 0.381);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 300px;
}
.footer-contact{
    color: rgba(255, 255, 255, 0.7);
    font-size: 65px;
    font-weight: 500;
    margin-top: 249px;
    margin-left: 698px;
    letter-spacing: 2px;
    margin-bottom: 400px;
}
.netflix-footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row: auto;
    column-gap: 10px;
    margin-top: 30px;
}
.footer-contact button{
    color: rgba(255, 255, 255, 0.7);
    font-weight: 499;
    text-decoration: underline;
    border: 1px solid black;
    background-color: transparent;
    line-height: 2.4;
}
.brand-origin{
    margin-top: 236px;
}
.dropdown1{
    position: absolute;
}
.dropdown1 button {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: left;
    border-radius: 21px;
    padding: 10px 88px;
    margin-left: 698px;
    margin-top: -697px;
    background: transparent;
}
.dropdown1 button:hover {
    border: 1px solid white !important;
    background-color: transparent !important;
}
.dropdown1 img{
    width: 90px;
    margin-top: -17px;
    margin-right: -26px;
}
.dropdown1-item{
    width: 500px !important; 
    height: 100px;
    color: black !important;
    font-size: 70px;
    border: 1px solid black !important;
    border-right: none !important;
    border-left: none !important;
    text-align: center !important;
    background-color: white !important;
}
.dropdown1-item:hover{
    background-color: lightskyblue !important;
}